body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 75px 0 100px;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
h1,
h2 {
  margin-top: 0;
  font: bold 24px Arial;
  color: #bfbfbf;
  letter-spacing: 1px;
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  border-radius: 3px;
}
.first,
nav,
.third {
  margin-bottom: 40px;
}
a {
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;
}
nav {
  display: table;
  width: 100%;
  background-color: #2a3644;
  border-radius: 3px;
}
.first {
  background-color: #2a3644;
  text-align: justify;
}
.first:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.submenu,
.ins-submenu {
  position: absolute;
  width: 210px;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.submenu {
  padding: 5px 0 40px;
  top: 100%;
}
.ins-submenu--first {
  padding-left: 5px;
}
.ins-submenu--last {
  padding-right: 5px;
}
li {
  position: relative;
  transition: all 0.2s ease;
}
.first > li,
.second > li,
.third > li {
  display: inline-block;
}
.link {
  font: bold 16px Arial;
  color: #fff;
}
.first .link {
  padding: 16px 32px;
  border-right: 1px solid #3f4852;
  border-left: 1px solid #3f4852;
}
.link:hover {
  background-color: #3f4852;
}
.first > li:first-child > a,
.second > li:first-child > a,
.third > li:first-child > a {
  border-radius: 3px 0 0 3px;
}
.village {
  border-radius: 3px;
}
.first > li:last-child a,
.second > li:last-child a {
  border-radius: 0 3px 3px 0;
}
li:hover .link {
  color: #fd8612;
}
.submenu--last {
  right: 0;
}
li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.submenu li {
  border-bottom: 1px solid #3f4852;
}
.submenu li:last-child {
  border-bottom: none;
}
.submenu li:hover > a {
  color: #fd8612;
  background-color: #2a3644;
}
.submenu li:first-child a,
.submenu .ins-submenu li:first-child a {
  border-radius: 3px 3px 0 0;
}
.submenu > ul > li:last-child a,
.ins-submenu > ul > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.submenu a,
.ins-submenu a {
  padding: 15px 20px;
  background-color: #d2d4d5;
  color: #2a3644;
  font: bold 15px Arial;
}
.second {
  display: table-row;
}
.second > li {
  display: table-cell;
}
.second .link {
  padding: 15px 10px;
  text-align: center;
  border-left: 1px solid #3f4852;
}
.second > li > a:hover {
  background-color: #3f4852;
}
.ins-submenu--first {
  left: 100%;
  top: 0;
}
.submenu li:hover .ins-submenu--first,
.ins-submenu--first li:hover .ins-submenu--last {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.ins-submenu--last {
  right: 100%;
  top: 0;
}
.third {
  background-color: #2a3644;
}
.third > ul:first-child {
  float: left;
  margin: 0;
  padding: 0;
}
.third .link {
  padding: 16px 30px;
  border-right: 1px solid #3f4852;
}
.third > li:first-child a {
  position: relative;
  padding-left: 60px;
}
.third > li:first-child a:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 16px;
  left: 30px;
  background: url(../images/sprite.png) -16px 0;
  transition: all 0.2s ease;
}
.third > li:first-child a:hover:before {
  background-position: -16px -15px;
}
.third li:last-child .link,
.second li:last-child .link,
.first li:last-child .link {
  border-right: none;
}
.third li:first-child .link,
.second li:first-child .link,
.first li:first-child .link {
  border-left: none;
}
.submenu.double {
  min-width: 420px;
}
.double ul {
  width: 210px;
  float: left;
  box-sizing: border-box;
  border-radius: 0;
}
.third .double .background a {
  border-radius: 0;
}
.double ul:first-child {
  border-right: 1px solid #3f4852;
}
.double ul:last-child li:last-child {
  border-bottom: 1px solid #3f4852;
}
.background {
  display: inline-block;
  background-color: #d2d4d5;
  border-radius: 3px;
  overflow: hidden;
}
.social,
.social li {
  float: right;
}
.social {
  display: block;
  padding: 14px 0;
}
.social a {
  display: block;
  position: relative;
}
.social a:before {
  content: "";
  position: absolute;
  background-image: url(../images/sprite.png);
  transition: all 0.2s ease;
}
.fb:before {
  width: 8px;
  height: 17px;
  left: -112px;
  background-position: -34px 0;
}
.fb:hover::before {
  background-position: -34px 17px;
}
.tw:before {
  width: 16px;
  height: 14px;
  left: -80px;
  top: 3px;
  background-position: -45px 0;
}
.tw:hover:before {
  background-position: -45px 22px;
}
.in:before {
  width: 14px;
  height: 15px;
  left: -45px;
  top: 2px;
  background-position: 0 0;
}
.in:hover:before {
  background-position: 0px 20px;
}
table {
  width: 100%;
  margin-bottom: 60px;
  border-collapse: collapse;
}
thead {
  background-color: #2a3644;
}
th {
  padding: 9px 25px;
  border: 1px solid #3f4852;
}
tr:first-child th:first-child {
  width: 6%;
}
tr:first-child th:nth-child(2),
b:nth-child(2) {
  width: 48%;
  text-align: left;
}
tr:first-child th:nth-child(3),
tr:nth-child(2) th {
  padding: 13px;
}
table th {
  font: bold 16px "Arial";
  color: #fff;
}
tbody tr {
  border-top: 1px solid #c0c1c2;
}
tbody tr:hover td {
  background-color: #c0c1c2;
  cursor: pointer;
}
tbody tr:nth-child(even) {
  background-color: #e8e8e8;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
td {
  padding: 18px 14px;
  border-right: 1px solid #c0c1c2;
  text-align: center;
  font: normal 16px Arial;
  color: #2a3644;
  transition: all 0.2s ease;
}
td:last-child {
  border-color: transparent;
}
td:nth-child(2) {
  padding: 10px 25px;
}
td:nth-child(2) {
  text-align: left;
}
.table {
  display: table;
  width: 100%;
  border-radius: 3px;
}
.table p {
  display: table-row;
}
.thead-row {
  background-color: #2a3644;
}
b,
i {
  display: table-cell;
  padding: 18px;
}
b {
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-right: 1px solid #3f4852;
}
b:first-child {
  width: 6%;
}
b:nth-child(2),
i:nth-child(2) {
  padding: 10px 23px;
}
i {
  font: normal 16px Arial;
  color: #2a3644;
  border-top: 1px solid #c0c1c2;
  border-right: 1px solid #c0c1c2;
  transition: all 0.2s ease;
}
i:first-child {
  text-align: center;
}
i:nth-child(3),
i:nth-child(4),
i:nth-child(5) {
  padding: 10px 27px;
  text-align: right;
}
.tbody-row:nth-child(odd) {
  background-color: #e8e8e8;
}
.tbody-row:nth-child(even) {
  background-color: #f2f2f2;
}
.tbody-row:hover i {
  background-color: #c0c1c2;
  cursor: pointer;
}
